* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ocultar {
    display: none !important;
}

body{
    background-color: #F5F5F5;
}

.main {
    display: flex;
    padding: .5rem;
    gap: 28px;
    flex-direction: column;
}

.header--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header__title {
    text-align: center;
}

.header__logo {
    width: 100px;
}

.header__list {
    display: flex;
    gap: 15px;
}

.main__card {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    gap: 25px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.08); 
    border-radius: 15px;
}

.main__icon {
    width: 16px;
}

.main__card--width {
    width: 70% !important;
}

.main__card--prestamos {
    width: 65% !important;
}

.prestamos__content {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto;
}

.form__title {
    width: 100%;
    color: blue;
    display: flex;
    padding: 1rem;
    align-items: start;
}

.form__contendor {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.form__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 15px;
    width: 50%;
}

.form__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form__group--column  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__group-auto { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form__input {
    width: 90%;
    margin: auto;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid;
    border-color: gainsboro;
    transition: .5s all;
    background-color: rgb(245, 241, 241);
}

.form__input--select {
    margin: auto;
}

.form__input::placeholder {
    padding: .4rem;
}

.form__input:focus {
    padding: .5rem;
}

.form__button {
    margin: auto;
    width: 50%;
    height: 2.5rem;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    background-color: blue;
    border-radius: 15px;
    border: none;
    transition: .5s all;
}

.card__button {
    margin: auto;
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    background-color: blue;
    border-radius: 15px;
    border: none;
    transition: .5s all;
}

.card__button--block {
    background-color: gray !important;
}

.form__button:hover, .card__button:hover {
    background-color: rgb(75, 75, 255);
}

.modal {
    display: flex;
    position: fixed;
    top: 30%;
    right: 38%;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08); 
}

.modal__abierto {
    filter: blur(2px) !important;
}

.modal__header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal__description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button__modal {
    padding: .5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    transition: .5s all ease;
}

.button__modal--outline {
    color: black;
    background-color: transparent !important;
    border: 1.5px solid;
    border-color: rgb(70, 243, 70);
}

.button__modal:hover {
    background-color: rgb(69, 97, 255) !important;
    border: none;
}

@media (max-width: 900px) {

    .header {
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main__auth {
        width: 80%;
    }

    .form__contendor {
        flex-direction: column;
    }

    .form__column {
        width: 80%;
    }

    .prestamos__content {
        flex-direction: column;
    }

    .main__card {
        width: 80%;
    }

    .main__card--width {
        width: 85% !important;
    }

    .main__card--prestamos {
        width: 90% !important;
    }

    .modal {
        width: 90%;
        right: 5%;
    }
}